 /*centers the navbar items*/
@media (min-width: 768px){
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}

body {
	padding-top: 70px;
	padding-bottom: 70px;
}

.italic {
    font-style: italic;
}

@media (min-width: 992px) {
    .extra-padding {
        padding-top: 3em;
    }
}

.divider {
    padding: 3em 0 3em 0;
}
