body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: none; }

.copy {
  text-align: center; }

.container {
  margin: 8% 10%;
  border: none; }

.navigation {
  border: none;
  display: inline-block;
  margin: 5% 2.5% 0;
  width: 92%; }
  .navigation .navbox {
    border: 1px solid black;
    width: 23%;
    height: 9.6em;
    float: left;
    margin: 0 0.5%; }
    .navigation .navbox:first-child {
      margin-left: 2.5%; }
    .navigation .navbox:last-child {
      margin-right: 0; }
    .navigation .navbox p {
      margin: 0; }

#whoIsPierre > div {
  display: inline-block;
  vertical-align: middle; }
#whoIsPierre #random {
  text-align: left; }
  #whoIsPierre #random .inactive {
    color: #CCC; }
